body {
    font-size: 28px;
    line-height: 1.5;
}

header, main, footer {
    max-width: 100%;
    max-height: 100%;
    margin: 1.25rem auto;
    max-width: 760px;
}
header {
    display: flex;
    max-height: 200px;
    background-color: rgb(78, 113, 152);
    color: white;
    text-align: center;
    padding: 1.2rem;
}

footer {
    display: block;
    max-height: 100px;
    background-color: rgb(78, 113, 152);
    color: white;
    text-align: center;
    padding: 1.2rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
    border: 1px solid #000;
}

h1 {
    font-family: 'Cutive Mono', monospace;
}

h2 {
    font-family: 'Chivo Mono', monospace;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

li {
    font-family: 'Fragment Mono', monospace;
    text-decoration: none;
    
}
